body {
    margin: 0px;
    padding: 0px;
    background: black;
}

p {
   font-size: 12px;
   line-height: 8px;
   text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(port.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(225, 225, 225, 0);
}